*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    margin-top: 10px;
    font-family: sans-serif;
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
}
.left h4{
    padding: 0px 50px;
    font-weight: lighter;
    margin-top: 5px;
    font-size: small;
}
.right ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 50px;
    font-size: smaller;
    align-items: center;
}
.right ul li{
    margin-right: 10px;
}
.right ul li button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    font-size: 10px;
    color: white;
    cursor: pointer;
}
.build{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: bisque;
}
.build_left{
    margin-left: 70px;
}
.build_left h4{
    color: orange;
    font-weight: lighter;
    font-size: 10px;
    margin-top: 70px;
    margin-bottom: 10px;
}
.build_left p{
    margin-top: 10px;
   margin-bottom: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}
.build_left button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    font-size: 10px;
    color: white;
    cursor: pointer;
    margin-bottom: 100px;
}
.build_left ul{
    display: flex;
    list-style: none;
}
.build_left ul li{
    margin-right: 20px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card h5{
    color: orange;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
.card h3{
    font-weight: lighter;
    text-align: center;
    margin-bottom: 20px;
}
.card1{
    background-color: lightgray;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 10px;
}
.card1 img{
    width: 250px;
    height: 120px;
    border-radius: 5px;
}
.card1 h4{
    margin-top: 10px;
    margin-left: 20px;
}
.card1 ul{
    padding: 10px 35px;
}
.card ul li{
    font-size: 12px;
    margin-bottom: 5px;
}
.card ul li::marker{
    color: orange;
}
.card2{
    background-color: lightgray;
    width: fit-content;
    border-radius: 10px;
}
.card2 img{
    width: 250px;
    height: 120px;
    border-radius: 5px;
}
.card2 h4{
    margin-top: 10px;
    margin-left: 20px;
}
.card2 ul{
    padding: 10px 35px;
    margin-bottom: 5px;
}
.card2 ul li{
    font-size: 12px;
    margin-bottom: 5px;
}
.card3{
    background-color: lightgray;
    width: fit-content;
    border-radius: 10px;
}
.card3 img{
    width: 250px;
    height: 120px;
    border-radius: 5px;
}
.card3 h4{
    margin-top: 10px;
    margin-left: 20px;
}
.card3 ul{
    padding: 10px 35px;
}
.card ul li{
    font-size: 12px;
    margin-bottom: 5px;
}
.about{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    background-color: bisque;
}
.about_left img{
    width: 400px;
    height: 350px;
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 5px;
}
.about_right{
    margin-top: 120px;
    margin-right: 100px;
}
.about_right h5{
    color: orange;
    margin-bottom: 10px;
}
.about_right h3{
    font-weight: lighter;
    margin-bottom: 15px;
}
.about_right p{
    font-size: small;
}
.header{
    text-align: center;
    margin-top: 70px;
}
.header h4{
    color: orange;
    margin-bottom: 20px;
}
.header h3{
    margin-bottom: 20px;
}
.cards1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

}
.card4{
    font-family: sans-serif;
    width: fit-content;
}
.content1 img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.content1 h6{
    margin-bottom: 10px;
}
.content1 h4{
    color: orange;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 12px;
}
.content1 small{
    font-weight: lighter;
    font-size: 10px;
    margin-bottom: 10px;
}
.content1 button{
    margin-top: 10px;
    padding: 8px 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 10px;
}
.card5{
    font-family: sans-serif;
    width: fit-content;
}
.content2 img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.content2 h6{
    margin-bottom: 10px;
}
.content2 h4{
    color: orange;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 12px;
}
.content2 small{
    font-weight: lighter;
    font-size: 10px;
    margin-bottom: 10px;
}
.content2 button{
    margin-top: 10px;
    padding: 8px 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 10px;
}
.card6{
    font-family: sans-serif;
    width: fit-content;
}
.content3 img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.content3 h6{
    margin-bottom: 10px;
}
.content3 h4{
    color: orange;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 12px;
}
.content3 small{
    font-weight: lighter;
    font-size: 10px;
    margin-bottom: 10px;
}
.content3 button{
    margin-top: 10px;
    padding: 8px 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 10px;
}
.form{
    margin-top: 50px;
}
.head h4{
    color: orange;
    text-align: center;
    font-size: 15px;
}
.head h3{
    text-align: center;
    font-weight: lighter;
} 
.form1{
    background-color: lightgray;
   
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    padding-top: 20px;
    padding-left: 70px;
    font-size: 12px;
}
.name,.mail{
    outline: none;
    border: 1px solid #454545;
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 20px;
    background-color: lightgray;
    width: 500px;
}
.message{
    border: 1px solid #454545;
    border-radius: 5px;
    padding: 60px 10px;
    margin-bottom: 20px;
    background-color: lightgray;
    width: 500px;
}
.form1 button{
    padding: 7px 40px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    font-size: 10px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-right: 40px;
    background-color: bisque;
    width: 100%;
}
.brand{
    margin-top: 30px;
    font-weight: lighter;
    font-size: 15px;
}
.sia{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 20px;
}
.s{
    margin-right: 50px;
}
.s h5{
    margin-bottom: 5px;
}
.s ul li{
    list-style: none;
    font-size: 13px;
    margin-bottom: 3px;
}
.i{
    margin-right: 50px;
}
.i h5{
    margin-bottom: 5px;
}
.i ul li{
    list-style: none;
    font-size: 13px;
    margin-bottom: 3px;
}
.a{
    margin-right: 50px;
}
.a h5{
    margin-bottom: 5px;
}
.a ul li{
    list-style: none;
    font-size: 13px;
    margin-bottom: 3px;
}
.footer_img img{
    width: 20px;
    height: 20px;
    margin-top: 40px;
    background-color: blanchedalmond;
    margin-right: 10px;
}